@{
    ViewData["Title"] = "Home Page";
}
<img src="~/images/mountain_couple.jpeg" alt="sample image" width="300px">
<img src="~/images/gay_couple.jpeg" alt="sample image" width="300px">
<img src="~/images/garden_couple.jpeg" alt="sample image" width="300px">
<h1>Features</h1>
<h2>Try dating <em>different</em>. Find someone new.</h2>
<div class="inline">
    <a asp-controller="Home" asp-action="_Register">Start now</a><br>
    <a asp-controller="Home" asp-action="_Login">Sign In</a>
</div>
<img src="~/images/dinner_couple.jpeg" alt="sample image" width="300px">
<img src="~/images/concert_couple.jpeg" alt="sample image" width="300px">
<img src="~/images/laughing_couple.jpeg" alt="sample image" width="300px">