@{
    ViewData["Title"] = "Home Page";
}
<img src="~/images/mountain_couple.jpeg" alt="sample image" width="300px" onclick="myFunction()">
<img src="~/images/gay_couple.jpeg" alt="sample image" width="300px"
id="moving-image-2" onmouseover="changeImage(this)" onmouseout="changeImageBack(this)">
<img src="~/images/garden_couple.jpeg" alt="sample image" width="300px">
<h1>Features</h1>
<h2>Try dating <em>different</em>. Find someone new.</h2>
<img src="~/images/dinner_couple.jpeg" alt="sample image" width="300px">
<img src="~/images/concert_couple.jpeg" alt="sample image" width="300px">
<img src="~/images/laughing_couple.jpeg" alt="sample image" width="300px">
<script src="~/js/home-script.js"></script>