<h1>Welcome @Model.FirstName</h1>
<form asp-controller="Home" asp-action="LogOut">
    <button class="btn btn-danger">Logout</button>
</form>

<br>

<h2>Address Location Test</h2>
<div class="side info googleapi">
    <iframe width="520" length="520"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAQcRAg7ZEMa4L9TRf0QkLlCOdKmtWUMbc&q=@ViewBag.Address"
        frameborder="0" allowfullscreen></iframe>
</div>