@model List<User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="comparison-container border bg-light p-3">
    <div class="d-flex justify-content-center">
        <div class="comparison-card bg-success text-white rounded m-3 p-3" style="width:300px; height:300px">
            <div class="map googleapi">
                <iframe width="200" length="200"
                src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAQcRAg7ZEMa4L9TRf0QkLlCOdKmtWUMbc&q=@Model[0].Address"
                frameborder="0" allowfullscreen></iframe>
            </div>
            <form action="/comparisons/winner" method="POST">
                <input hidden="" name="boxNumberChosen" value=0>
                <div>
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Super Like</button>
                </div>
            </form>
        </div>
        <div class="comparison-card bg-success text-white rounded m-3 p-3" style="width:300px; height:300px">
            <div class="map googleapi">
                <iframe width="200" length="200"
                src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAQcRAg7ZEMa4L9TRf0QkLlCOdKmtWUMbc&q=@Model[1].Address"
                frameborder="0" allowfullscreen></iframe>
            </div>
            <form action="/comparisons/winner" method="POST">
                <input hidden="" name="boxNumberChosen" value=1>
                <div>
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Super Like</button>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="comparison-card bg-success text-white rounded m-3 p-3" style="width:300px; height:300px">
            <div class="map googleapi">
                <iframe width="200" length="200"
                src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAQcRAg7ZEMa4L9TRf0QkLlCOdKmtWUMbc&q=@Model[2].Address"
                frameborder="0" allowfullscreen></iframe>
            </div>
            <form action="/comparisons/winner" method="POST">
                <input hidden="" name="boxNumberChosen" value=2>
                <div>
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Super Like</button>
                </div>
            </form>
        </div>
        <div class="comparison-card bg-success text-white rounded m-3 p-3" style="width:300px; height:300px">
            <div class="map googleapi">
                <iframe width="200" length="200"
                src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAQcRAg7ZEMa4L9TRf0QkLlCOdKmtWUMbc&q=@Model[3].Address"
                frameborder="0" allowfullscreen></iframe>
            </div>
            <form action="/comparisons/winner" method="POST">
                <input hidden="" name="boxNumberChosen" value=3>
                <div>
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Super Like</button>
                </div>
            </form>
        </div>
    </div>
</div>