@{
    ViewData["Title"] = "Home Page";
}

<div class="comparison-container">
    <div class="comparison-card"></div>
    <div class="comparison-card"></div>
    <div class="comparison-card"></div>
    <div class="comparison-card"></div>
</div>